/** dashboard *
--------------------------------------------------------------------- */
#dashboardWrapper {
	min-width:300px;
	min-height:700px;
	height:100%; 
	height:auto !important; 
	width:100%;
	margin:0 auto;
	margin-top:-15px;
	background:#222;
	/*background: url(../pics/bk.jpg) center 0; */
	background-image: url('../../images/gradient.png');
	background-repeat:repeat-y;
	background-size:contain;
	clear:both;
	box-shadow: inset 0px 0px 30px 10px rgba(0,0,0,0.4);	
	padding-bottom:30px;
	overflow:hidden; /*http://stackoverflow.com/questions/3921761/floating-image-to-the-left-changes-container-divs-height*/
	}	


	/** Dashboard-header **
}
----------------------------------------------------------*/

.dashboardHeader {
	padding: 1% 2% 0 2%;
	overflow: hidden; 
}

.dashboardHeader h2 {
	float:left;
}
.authStatus {
	line-height:70px;
	float:left;
	color:#FFF;
}
.addVideo {
	line-height:70px;
	float:right;
	color:#FFF;
	padding-right:5%;

}
.addVideo input {
	width:250px;
	padding:5px;
}

.feedbackWrapper {
	width:450px;
	display:block;
	float:right;
	clear:both;
	
}

