/*-----------------------------

[COLORS]

Light green #B1F9B5;
Gray : #BDBDBD;
-----------------------------*/

.homeWrapper {
	background-image:url('../../images/home-bk.png');
	background-size:100%;
	margin-top:65px;
	min-height:300px;
	overflow: auto; 
	padding:7% 0 13%;
	
}
.startMsg {
	width:70%;
	display:block;
	margin:0 auto;
	padding-bottom:20px;
}
.content {
	width: 70%;
	margin:0 auto;
	min-height:300px;
	height:auto !important;
	overflow: hidden;
}

.homeInfo, .signUp {
	border:2px solid #BDBDBD;
}
.homeInfo {
	padding:2%;
	width:44%;
	float:left;
	background:#FFF;
}

.signUp{
	padding:2%;
	width:420px;
	float:right;
	background:#FFF;
}