/*-----------------------------

[COLORS]

Light green #B1F9B5;
Gray : #BDBDBD;
-----------------------------*/

.homeWrapper {
	background-image:url('../images/home-bk.png');
	background-size:100%;
	margin-top:65px;
	min-height:300px;
	overflow: auto; 
	padding:7% 0 13%;
	
}
.startMsg {
	width:80%;
	display:block;
	margin:0 auto;
	text-align: center;
	padding-bottom:20px;
}
.content {
	width: 80%;
	background: #FFF;
	margin:0 auto;
	height:300px;
	border:2px solid #BDBDBD;
	padding-left:30px;
}