.navigation {
	float:right;

}

.navigation a {
	display:block;
	float:left;
	text-decoration: none;
	line-height: 60px;
	border-top:5px solid #FFF;
	padding: 0 10px;
}

.current {
	border-top:5px solid #77D481 !important;
}
