.navigation {
	padding:10px;
	float:right;

}
.navigation ul {
	list-style: none;
	margin-left:-2.5em;
}

.navigation ul li{
	display:inline;
	padding:10px;

}
.navigation ul li a {
	color:#000;
	text-decoration: none;
}


a:active {
	color:#000;
}