.videosWrapper {
	min-width:800px;
	min-height: 900px;
	width:100%;
	height:100%;
	height:auto !important; 
	margin: 0 auto;	  	
	position:relative;
	-moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer */
    -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
    -webkit-user-select: none; /* Chrome, Safari, and Opera */
    -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
	}



.cursor { 
	cursor:;
}